:root {
  --ti-cursor-color: #415a77;
}

@font-face {
  font-family: "Soehne";
  src: url("../fonts/soehne.otf") format("opentype");
}
@font-face {
  font-family: "Soehne-Fett";
  src: url("../fonts/soehne-fett.otf") format("opentype");
}
* {
  font-family: "Soehne", system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease-in-out;
}

body {
  background-color: #E0E1DD;
  color: #0d1b2a;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition-duration: 0s;
  cursor: none;
  min-height: 100vh;
}

.cursor-small,
.cursor-large {
  position: fixed;
  width: 12px;
  height: 12px;
  background: #0d1b2a;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.2, 0.8, 0.05, 1);
}

.cursor-large {
  width: 24px;
  height: 24px;
  background: #415a77;
  opacity: 0.5;
  transition: all 0.25s cubic-bezier(0.2, 0.6, 0.1, 0.9);
}

::-moz-selection {
  color: #E0E1DD;
  background: #0d1b2a;
}

::selection {
  color: #E0E1DD;
  background: #0d1b2a;
}

strong {
  font-family: "Soehne-Fett";
}

.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 35vh;
}

h1 {
  font-size: 6.5rem;
}

p {
  font-size: 1.4rem;
  line-height: 2rem;
}

a:not(.home-btn) {
  color: #0d1b2a;
  text-decoration: none;
  width: -moz-max-content;
  width: max-content;
  border: none;
  border-bottom: 0px solid #415a77;
  transition-duration: 0.1s;
}
a:not(.home-btn):hover {
  cursor: none;
  color: #415a77;
  padding-bottom: 4px;
  border-bottom-width: 3px;
}

.figcaption {
  font-size: 0.8rem;
  font-style: italic;
}
.figcaption__l {
  text-align: left;
}
.figcaption__r {
  text-align: right;
}

button {
  display: flex;
  position: relative;
  background: none;
  color: #0d1b2a;
  border: none;
  border-bottom: 0px solid #415a77;
  font-weight: bold;
  font-size: 2rem;
  transition-duration: 0.1s;
}
button:hover {
  cursor: none;
  color: #415a77;
  padding-bottom: 2px;
  border-bottom-width: 6px;
}

main {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

#nav {
  display: flex;
  justify-content: space-around;
  margin-top: 0vh;
  visibility: hidden;
  opacity: 0;
}

#header-about {
  width: 80vw;
}

.about-page {
  display: none;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.about-page__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  width: 80vw;
}
.about-page__links {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 2rem;
  transform: rotate(-90deg) translateX(50%) translateY(-150%);
}

.parallax {
  transition-duration: 0s;
}

.img-about {
  width: 30vw;
  box-shadow: 0px 0px 20px -10px #0d1b2a;
}

.home-btn,
.projects-btn,
.contact-btn {
  display: flex;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  transition: all 0.1s;
}
.home-btn:hover,
.projects-btn:hover,
.contact-btn:hover {
  cursor: none;
  color: #415a77;
  padding-bottom: 0px;
  border-bottom: none;
}

.home-btn {
  display: flex;
  transform: rotate(90deg);
  padding: 0.6rem;
  border: 2.5px solid transparent;
  border-radius: 50%;
}
.home-btn:hover {
  padding: 0.6rem;
  border: 2.5px solid #415a77;
  transform: rotate(90deg) translateY(-0.25rem);
}

.projects-btn, .contact-btn {
  position: relative;
  bottom: 1px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  button {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1rem;
  }
  button {
    font-size: 1.4rem;
  }
  #header-about {
    width: auto;
    font-size: 4.5rem;
    margin-bottom: 4rem;
  }
  .about-page__row {
    flex-direction: column;
    align-items: flex-start;
  }
  .img-about {
    width: 80vw;
  }
}/*# sourceMappingURL=style.css.map */